@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.top-bar {
    background-color: #00B2FF;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: sans-serif
}

header {
    background-color: black;
    color: white;
    padding: 50px;
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: white;
    text-align: center;
    
}